# Node
node_modules/
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.log

# Environment variables
.env
.env.*.local

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Test coverage
coverage/

# Nest CLI cache
.nest-cli.cache

# Others
*.local
